In [61]:
import pandas as pd
import numpy as np
import os
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date, time, datetime


pickle_path = os.path.join('..', 'data', 'num_people_by_date')
num_people_by_date = pd.read_pickle(pickle_path)
num_people_by_date['date'] = num_people_by_date.index
num_people_by_date['weekday'] = num_people_by_date['date'].apply(date.weekday)
num_people_by_date['month']=num_people_by_date.apply(lambda row: row['date'].month, axis=1)
num_people_by_date['week_number']=num_people_by_date.apply(lambda row: round((row['date']- date(year=2022,month=1,day=1)).days/7), axis=1)
zuehlke_days=[
    date(year=2022,month=11,day=30),
    date(year=2022,month=10,day=27),
    date(year=2022,month=9,day=28),
    date(year=2022,month=8,day=31),
    date(year=2022,month=6,day=30),
    date(year=2022,month=5,day=31),
    date(year=2022,month=5,day=3),
    date(year=2022,month=3,day=30)
]
num_people_by_date['zuehlke_day']=num_people_by_date.apply(lambda row: row['date'] in zuehlke_days, axis=1)
num_people_by_date['month_third']=num_people_by_date.apply(lambda row: round((row['date'].day-5)/11), axis=1)
num_people_workdays=num_people_by_date[num_people_by_date['num_people_at_12_33']>30]
num_people_workdays[['month_third','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].groupby('month_third').aggregate(['mean'])

,normalized_difference_10_and_12,num_people_at_10_00,num_people_at_12_33
,mean,mean,mean
month_third,,,
0,0.070376,157.338710,146.096774
1,0.062297,148.144928,138.043478
2,0.080117,158.844828,146.224138

In [62]:
num_people_workdays[['month_third','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].aggregate(['mean'])

,month_third,normalized_difference_10_and_12,num_people_at_10_00,num_people_at_12_33
mean,0.978836,0.070416,154.444444,143.195767

In [59]:
num_people_workdays[['weekday','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].groupby('weekday').aggregate(['mean'])

,normalized_difference_10_and_12,num_people_at_10_00,num_people_at_12_33
,mean,mean,mean
weekday,,,
0,0.041189,150.916667,144.027778
1,0.096211,178.358974,161.076923
2,0.062453,186.589744,173.871795
3,0.075599,167.078947,154.236842
4,0.074734,85.810811,79.864865

In [45]:
num_people_workdays[['month','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].groupby('month').aggregate(['mean'])

      normalized_difference_10_and_12 num_people_at_10_00 num_people_at_12_33
                                 mean                mean                mean
month
3                            0.045450          127.869565          122.347826
4                            0.073963          111.684211          103.894737
5                            0.092206          128.900000          116.000000
6                            0.062821          154.809524          145.333333
7                            0.056660          131.952381          124.714286
8                            0.078390          162.863636          149.590909
9                            0.071917          177.454545          163.636364
10                           0.082526          185.904762          170.285714
11                           0.073248          206.800000          190.900000

In [44]:
num_people_workdays[['week_number','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].groupby('week_number').aggregate(['mean'])

,normalized_difference_10_and_12,num_people_at_10_00,num_people_at_12_33
,mean,mean,mean
week_number,,,
8,-0.055556,144.00,152.000000
9,0.063141,127.40,121.400000
10,0.055358,116.80,111.000000
11,0.040874,119.60,111.600000
12,0.048873,143.00,137.400000
13,0.048072,134.40,128.400000
14,0.090759,117.60,107.400000
15,0.060808,105.00,99.666667
16,0.055034,94.80,90.600000
17,0.086475,141.60,125.800000
18,0.135650,114.40,100.000000
19,0.073934,112.40,103.200000
20,0.064522,122.00,113.200000
21,0.118145,154.00,135.666667
22,0.040091,125.25,121.250000
23,0.075982,152.40,140.800000
24,0.074764,165.20,154.200000
25,0.050030,154.60,146.600000
26,0.065872,161.80,150.200000
27,0.044828,157.60,150.200000
28,0.061525,139.60,131.600000
29,0.058420,118.20,111.800000
30,0.059123,107.50,102.000000
31,0.057059,137.60,128.000000
32,0.081861,157.40,145.000000
33,0.065496,170.00,156.800000
34,0.112919,168.80,151.800000
35,0.045234,190.60,180.600000
36,0.070426,170.80,158.600000
37,0.068967,184.20,168.400000
38,0.080603,175.00,160.200000
39,0.087262,194.00,177.400000
40,0.111944,173.80,155.400000
41,0.038833,168.20,161.200000
42,0.097762,198.00,176.800000
43,0.091818,208.60,190.600000
44,0.075178,217.00,200.000000
45,0.092432,204.20,183.800000
46,0.077687,185.40,170.200000
47,0.045617,213.25,203.000000

,normalized_difference_10_and_12,num_people_at_10_00,num_people_at_12_33
,mean,mean,mean
month_third,,,
0,0.070376,157.338710,146.096774
1,0.062297,148.144928,138.043478
2,0.080117,158.844828,146.224138

In [55]:
round(6/11)

1

In [43]:
#take average only on Tue, Wed, Thu
num_people_workdays[num_people_by_date['weekday'].isin([1,2,3])][['zuehlke_day','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].groupby('zuehlke_day').aggregate(['mean'])

C:\Users\mefl\AppData\Local\Temp\ipykernel_29860\3691938236.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  num_people_workdays[num_people_by_date['weekday'].isin([1,2,3])][['zuehlke_day','normalized_difference_10_and_12','num_people_at_10_00','num_people_at_12_33']].groupby('zuehlke_day').aggregate(['mean'])

,normalized_difference_10_and_12,num_people_at_10_00,num_people_at_12_33
,mean,mean,mean
zuehlke_day,,,
False,0.076368,173.972477,160.403670
True,0.105224,231.285714,205.714286

In [42]:
#take average only on Tue, Wed, Thu
num_people_workdays[num_people_by_date['weekday'].isin([1,2,3])][['zuehlke_day','num_people_at_12_33']].groupby('zuehlke_day').aggregate(['mean'])

C:\Users\mefl\AppData\Local\Temp\ipykernel_29860\2039332640.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  num_people_workdays[num_people_by_date['weekday'].isin([1,2,3])][['zuehlke_day','num_people_at_12_33']].groupby('zuehlke_day').aggregate(['mean'])

            num_people_at_12_33
                           mean
zuehlke_day
False                160.403670
True                 205.714286

In [33]:
zuehlke_days=[
    date(year=2022,month=11,day=30),
    date(year=2022,month=10,day=27),
    date(year=2022,month=9,day=28),
    date(year=2022,month=8,day=31),
    date(year=2022,month=6,day=30),
    date(year=2022,month=5,day=31),
    date(year=2022,month=5,day=3),
    date(year=2022,month=3,day=30)
]
ex_date in zuehlke_days

False

In [28]:
ex_date=date(year=2022,month=4,day=3)
jan1=date(year=2022, month=1,day=1)
round((ex_date- jan1).days / 7)

13