In [48]:
import pandas as pd
import numpy as np
import os
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date



pickle_path=os.path.join('..', 'data', 'flow_counts_preprocessed')
flow_counts_preprocessed=pd.read_pickle(pickle_path)
flow_counts_preprocessed.head()

,location_name,datetime,visitor_count_fw,visitor_count_fw_male,visitor_count_fw_female,visitor_count_bw,visitor_count_bw_male,visitor_count_bw_female,zurich_datetime,smooth_visitor_count_fw,smooth_visitor_count_bw,date,time,time_numeric,cum_sum_visitor_count_fw,cum_sum_visitor_count_bw,num_people_inside,weekday,weekday_num
0,"Zürich, Schlieren",2022-02-28 23:00:00,0,0,0,0,0,0,2022-03-01 00:00:00,0.0,0.0,2022-03-01,00:00:00,0.00,0,0,0,Tuesday,1
1,"Zürich, Schlieren",2022-02-28 23:05:00,0,0,0,0,0,0,2022-03-01 00:05:00,0.0,0.0,2022-03-01,00:05:00,0.08,0,0,0,Tuesday,1
2,"Zürich, Schlieren",2022-02-28 23:10:00,0,0,0,0,0,0,2022-03-01 00:10:00,0.0,0.0,2022-03-01,00:10:00,0.17,0,0,0,Tuesday,1
3,"Zürich, Schlieren",2022-02-28 23:15:00,0,0,0,0,0,0,2022-03-01 00:15:00,0.0,0.0,2022-03-01,00:15:00,0.25,0,0,0,Tuesday,1
4,"Zürich, Schlieren",2022-02-28 23:20:00,0,0,0,0,0,0,2022-03-01 00:20:00,0.0,0.0,2022-03-01,00:20:00,0.33,0,0,0,Tuesday,1

In [64]:
pickle_path=os.path.join('..', 'data', 'num_people_by_date')
num_people_by_date=pd.read_pickle(pickle_path)
num_people_by_date.head(20)

,num_people_at_12_33,num_people_at_10_00,difference_10_and_12,normalized_difference_10_and_12,sold_menus,difference_10_and_sold_menus,normalized_difference_10_and_sold_menus
2022-03-01,152,144,-8,-0.055556,NaN,NaN,NaN
2022-03-02,154,153,-1,-0.006536,NaN,NaN,NaN
2022-03-03,119,122,3,0.024590,NaN,NaN,NaN
2022-03-04,62,86,24,0.279070,NaN,NaN,NaN
2022-03-05,0,0,0,NaN,NaN,NaN,NaN
2022-03-06,0,0,0,NaN,NaN,NaN,NaN
2022-03-07,136,128,-8,-0.062500,NaN,NaN,NaN
2022-03-08,136,148,12,0.081081,NaN,NaN,NaN
2022-03-09,126,131,5,0.038168,103.0,28.0,0.213740
2022-03-10,107,125,18,0.144000,81.0,44.0,0.352000
2022-03-11,50,55,5,0.090909,30.0,25.0,0.454545
2022-03-12,0,0,0,NaN,NaN,NaN,NaN
2022-03-13,0,1,1,1.000000,NaN,NaN,NaN
2022-03-14,133,129,-4,-0.031008,102.0,27.0,0.209302
2022-03-15,139,144,5,0.034722,114.0,30.0,0.208333
2022-03-16,138,151,13,0.086093,105.0,46.0,0.304636
2022-03-17,134,137,3,0.021898,102.0,35.0,0.255474
2022-03-18,60,58,-2,-0.034483,43.0,15.0,0.258621
2022-03-19,6,6,0,0.000000,NaN,NaN,NaN
2022-03-20,1,0,-1,-inf,NaN,NaN,NaN

In [65]:
pickle_path=os.path.join('..', 'data', 'features_by_date')
features_by_date=pd.read_pickle(pickle_path)
features_by_date.head(20)

,label_num_people_12_33,num_people_10_00,1_days_ago_12_33,1_days_ago_norm_dif
2022-03-01,152,144,NaN,NaN
2022-03-02,154,153,152,-0.055556
2022-03-03,119,122,154,-0.006536
2022-03-04,62,86,119,0.02459
2022-03-05,0,0,62,0.27907
2022-03-06,0,0,0,NaN
2022-03-07,136,128,0,NaN
2022-03-08,136,148,136,-0.0625
2022-03-09,126,131,136,0.081081
2022-03-10,107,125,126,0.038168
2022-03-11,50,55,107,0.144
2022-03-12,0,0,50,0.090909
2022-03-13,0,1,0,NaN
2022-03-14,133,129,0,1.0
2022-03-15,139,144,133,-0.031008
2022-03-16,138,151,139,0.034722
2022-03-17,134,137,138,0.086093
2022-03-18,60,58,134,0.021898
2022-03-19,6,6,60,-0.034483
2022-03-20,1,0,6,0.0

In [50]:
csv_path=os.path.join('..', 'data', 'sold_menus.csv')


sold_menus= pd.read_csv(csv_path, delimiter=';')
sold_menus.head()

        Datum  sold_menus
0  09.03.2022       103.0
1  10.03.2022        81.0
2  11.03.2022        30.0
3  14.03.2022       102.0
4  15.03.2022       114.0

In [51]:
def convert_str_point_date_to_date(string_date):
    date_values=string_date.split('.')
    return date(year=int(date_values[2]),month=int(date_values[1]),day=int(date_values[0]))

sold_menus['Datum']=sold_menus['Datum'].apply(convert_str_point_date_to_date)

In [52]:
sold_menus.rename(columns={'Datum':'date'}, inplace=True)
sold_menus.set_index(keys=['date'], inplace=True)
sold_menus

            sold_menus
date
2022-03-09       103.0
2022-03-10        81.0
2022-03-11        30.0
2022-03-14       102.0
2022-03-15       114.0
...                ...
2022-11-21       154.0
2022-11-22       187.0
2022-11-23       176.0
2022-11-24       174.0
2022-11-25       197.0

[186 rows x 1 columns]

In [59]:
num_people_by_date= num_people_by_date.join(sold_menus)

In [61]:
    num_people_by_date['difference_10_and_sold_menus'] = num_people_by_date.apply(
        lambda row: row['num_people_at_10_00'] - row['sold_menus'], axis=1)
    num_people_by_date['normalized_difference_10_and_sold_menus'] = num_people_by_date.apply(
        lambda row: row['difference_10_and_sold_menus'] / row['num_people_at_10_00'], axis=1)

In [62]:
num_people_by_date

,num_people_at_12_33,num_people_at_10_00,difference_10_and_12,normalized_difference_10_and_12,sold_menus,difference_10_and_sold_menus,normalized_difference_10_and_sold_menus
2022-03-01,152,144,-8,-0.055556,NaN,NaN,NaN
2022-03-02,154,153,-1,-0.006536,NaN,NaN,NaN
2022-03-03,119,122,3,0.024590,NaN,NaN,NaN
2022-03-04,62,86,24,0.279070,NaN,NaN,NaN
2022-03-05,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2022-11-24,213,219,6,0.027397,174.0,45.0,0.205479
2022-11-25,207,194,-13,-0.067010,197.0,-3.0,-0.015464
2022-11-26,-5,-5,0,-0.000000,NaN,NaN,NaN
2022-11-27,-1,0,1,inf,NaN,NaN,NaN
2022-11-28,170,195,25,0.128205,NaN,NaN,NaN