In [2]:
from datetime import date
import os
import pandas as pd
import numpy as np
day1=date(year=2022,month=5,day=23)
day2=date(year=2022, month=9,day=24)
(day2-day1).days

124

In [21]:
a=[]
a.append((1,2))
a.append((2,3))
c,d=np.mean(a,axis=0)
a.append(np.zeros(19))
a[2].shape
np.zeros(19)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0.])

In [17]:
    pickle_path = os.path.join('..', 'data', 'num_people_by_date')
    num_people_by_date = pd.read_pickle(pickle_path)
    num_people_by_date

,date,num_people_at_12_33,num_people_at_10_00,num_people_at_11_30,normalized_difference_10_and_12,sold_menus,normalized_difference_10_and_sold_menus
2022-03-01,2022-03-01,152,144,159,-0.055556,NaN,NaN
2022-03-02,2022-03-02,154,153,160,-0.006536,NaN,NaN
2022-03-03,2022-03-03,119,122,132,0.024590,NaN,NaN
2022-03-04,2022-03-04,62,86,87,0.279070,NaN,NaN
2022-03-05,2022-03-05,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2022-11-24,2022-11-24,213,219,229,0.027397,174.0,0.205479
2022-11-25,2022-11-25,207,194,206,-0.067010,197.0,-0.015464
2022-11-26,2022-11-26,-5,-5,-5,-0.000000,NaN,NaN
2022-11-27,2022-11-27,-1,0,-1,NaN,NaN,NaN
2022-11-28,2022-11-28,170,195,191,0.128205,NaN,NaN

In [31]:
np.zeros(19)
pickle_path = os.path.join('..', 'data', 'features_by_date')
features_by_date = pd.read_pickle(pickle_path)
features_by_date.loc[day1,'date']

datetime.date(2022, 5, 23)

In [23]:
import pickle
with open(os.path.join('blabla', 'features.pkl'), 'wb') as file:
    pickle.dump(features_by_date, file)

In [24]:
with open(os.path.join('blabla', 'features.pkl'), 'rb') as file:
    # Call load method to deserialze
    myvar = pickle.load(file)

In [25]:
myvar

,date,num_people_10_00,label_num_people_12_33,label_num_people_11_30,label_num_menus_sold,label_difference_12_normalized,label_difference_10_and_sold_normalized,zurich_vacation,weekday,Monday,...,Friday,Spring/Autumn,Summer,Winter,zuehlke_day,Temperature,temp_deviation,Rain Duration,Rain_half_discrete,Rain_binary
2022-03-09,2022-03-09,131,126,130,103.0,0.038168,0.213740,0,2,0,...,0,0,0,1,0,8.73,3.052,0.00,-2.590325,0.0
2022-03-10,2022-03-10,125,107,128,81.0,0.144000,0.352000,0,3,0,...,0,0,0,1,0,9.32,3.217,0.00,-2.590325,0.0
2022-03-11,2022-03-11,55,50,50,30.0,0.090909,0.454545,0,4,0,...,1,0,0,1,0,10.03,3.413,0.00,-2.590325,0.0
2022-03-14,2022-03-14,129,133,137,102.0,-0.031008,0.209302,0,0,1,...,0,0,0,1,0,11.88,3.938,0.00,-2.590325,0.0
2022-03-15,2022-03-15,144,139,138,114.0,0.034722,0.208333,0,1,0,...,0,0,0,1,0,7.99,-0.322,0.00,16.043333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-21,2022-11-21,191,190,198,154.0,0.005236,0.193717,0,0,1,...,0,0,0,1,0,9.08,-0.739,0.00,-2.590325,0.0
2022-11-22,2022-11-22,235,222,239,187.0,0.055319,0.204255,0,1,0,...,0,0,0,1,0,7.79,-1.878,0.00,-2.590325,0.0
2022-11-23,2022-11-23,245,222,246,176.0,0.093878,0.281633,0,2,0,...,0,0,0,1,0,7.84,-1.920,0.00,-2.590325,0.0
2022-11-24,2022-11-24,219,213,229,174.0,0.027397,0.205479,0,3,0,...,0,0,0,1,0,9.11,-0.535,33.63,20.450000,1.0
2022-11-25,2022-11-25,194,207,206,197.0,-0.067010,-0.015464,0,4,0,...,1,0,0,1,0,8.37,-1.077,3.98,12.633333,1.0

In [26]:
num_people_by_date['weekday']=num_people_by_date['date'].apply(date.weekday)

In [15]:
num_people_by_date

NameError: name 'num_people_by_date' is not defined

In [22]:
for i, j in enumerate(['a','b']):
    print(i,j)

0 a
1 b