In [6]:
from datetime import date
import os
import pandas as pd
day1=date(year=2022,month=5,day=23)
day2=date(year=2022, month=9,day=24)
(day2-day1).days

124

In [19]:
date.weekday(day1)

0

In [10]:
    pickle_path = os.path.join('..', 'data', 'num_people_by_date')
    num_people_by_date = pd.read_pickle(pickle_path)
    num_people_by_date.head()

,num_people_at_12_33,num_people_at_10_00,difference_10_and_12,normalized_difference_10_and_12
2022-03-01,152,144,-8,-0.055556
2022-03-02,154,153,-1,-0.006536
2022-03-03,119,122,3,0.024590
2022-03-04,62,86,24,0.279070
2022-03-05,0,0,0,NaN

In [28]:
num_people_by_date.columns

Index(['num_people_at_12_33', 'num_people_at_10_00', 'difference_10_and_12',
       'normalized_difference_10_and_12', 'date', 'weekday'],
      dtype='object')

In [22]:
num_people_by_date['date']=num_people_by_date.index

In [26]:
num_people_by_date['weekday']=num_people_by_date['date'].apply(date.weekday)

In [27]:
num_people_by_date

,num_people_at_12_33,num_people_at_10_00,difference_10_and_12,normalized_difference_10_and_12,date,weekday
2022-03-01,152,144,-8,-0.055556,2022-03-01,1
2022-03-02,154,153,-1,-0.006536,2022-03-02,2
2022-03-03,119,122,3,0.024590,2022-03-03,3
2022-03-04,62,86,24,0.279070,2022-03-04,4
2022-03-05,0,0,0,NaN,2022-03-05,5
...,...,...,...,...,...,...
2022-11-24,213,219,6,0.027397,2022-11-24,3
2022-11-25,207,194,-13,-0.067010,2022-11-25,4
2022-11-26,-5,-5,0,-0.000000,2022-11-26,5
2022-11-27,-1,0,1,inf,2022-11-27,6
2022-11-28,170,195,25,0.128205,2022-11-28,0