In [32]:
import os
import pandas as pd
import pickle
import tools
from datetime import date
import numpy as np


date(year=2023,month=1,day=9)

datetime.date(2023, 1, 9)

In [35]:
os.getcwd()
features=pd.read_pickle('data/features_2023.pkl')
features.loc[date(year=2023,month=1,day=9),'log_num_people_11_30']=np.nan
with open('data/features_2023.pkl','wb') as file:
    pickle.dump(features,file)

In [37]:
features=pd.read_pickle('data/features_2023.pkl')
features

            log_num_people_11_30  zuehlke_day  before_after_holydays
2022-03-01              5.068904          0.0                    0.0
2022-03-02              5.075174          0.0                    0.0
2022-03-03              4.882802          0.0                    0.0
2022-03-04              4.465908          0.0                    0.0
2022-03-07              4.882802          0.0                    0.0
...                          ...          ...                    ...
2023-12-26                   NaN          0.0                    0.0
2023-12-27                   NaN          0.0                    0.0
2023-12-28                   NaN          0.0                    0.0
2023-12-29                   NaN          0.0                    0.0
2024-01-01                   NaN          0.0                    0.0

[480 rows x 3 columns]

In [36]:
result= len(features['log_num_people_11_30'].dropna())
if features['log_num_people_11_30'].iloc[0:result].isnull().any():
    raise Exception("There are nan values in the features")

features.iloc[result]

Exception: There are nan values in the features

In [39]:
features.iloc[result]

log_num_people_11_30     4.644233
zuehlke_day              0.000000
before_after_holydays    0.000000
Name: 2022-12-30, dtype: float64

In [49]:
from datetime import datetime
datetime.now()

datetime.datetime(2023, 1, 5, 16, 37, 12, 660569)

In [47]:
from datetime import date
features.loc[date.today(),'predictions']=5
features.iloc[230].loc['predictions']=6
features

,log_num_people_11_30,zuehlke_day,before_after_holydays,predictions
2022-03-01,5.068904,0.0,0.0,NaN
2022-03-02,5.075174,0.0,0.0,NaN
2022-03-03,4.882802,0.0,0.0,NaN
2022-03-04,4.465908,0.0,0.0,NaN
2022-03-07,4.882802,0.0,0.0,NaN
...,...,...,...,...
2023-12-26,NaN,0.0,0.0,NaN
2023-12-27,NaN,0.0,0.0,NaN
2023-12-28,NaN,0.0,0.0,NaN
2023-12-29,NaN,0.0,0.0,NaN
2024-01-01,NaN,0.0,0.0,NaN

In [19]:
features=tools.load_prediction_data()

model_filename = os.path.join('..','models','pickled_models', 'sarimax_features_to_11_30_people_count.pkl')

with open(model_filename, 'rb') as pkl:
    sarimax_model = pickle.load(pkl)
    y=features['label_num_people_11_30']
    X = features[['zuehlke_day', 'before_after_holydays']]
    print(sarimax_model.predict(n_periods=5, X=X.iloc[214:219],y=y))
    print(type(sarimax_model))

2022-12-07    5.480070
2022-12-08    5.403613
2022-12-09    4.740185
2022-12-12    5.315314
2022-12-13    5.488799
Freq: B, dtype: float64
<class 'pmdarima.arima.arima.ARIMA'>

In [11]:
y=features['label_num_people_11_30']
y

2022-03-01    159
2022-03-02    160
2022-03-03    132
2022-03-04     87
2022-03-07    132
             ...
2022-12-26      1
2022-12-27     31
2022-12-28     26
2022-12-29     18
2022-12-30      4
Name: label_num_people_11_30, Length: 219, dtype: int64

In [12]:
X=features[['zuehlke_day','before_after_holydays']]

In [13]:
X

            zuehlke_day  before_after_holydays
2022-03-01            0                      0
2022-03-02            0                      0
2022-03-03            0                      0
2022-03-04            0                      0
2022-03-07            0                      0
...                 ...                    ...
2022-12-26            0                      0
2022-12-27            0                      0
2022-12-28            0                      0
2022-12-29            0                      0
2022-12-30            0                      0

[219 rows x 2 columns]

In [7]:
dic={'x':1,'y':2}
def func(x,y):
    return x + y
func(**dic)

3

In [10]:
**dic

SyntaxError: invalid syntax (1026112000.py, line 1)

In [15]:
from datetime import datetime
datetime.now().strftime("%H:%M")

'09:02'

In [18]:
import numpy as np


np.random.normal(0,1)

0.3038882667410878

In [19]:
features

NameError: name 'features' is not defined